@use '../abstract/variables' as v;

.btn-donar {
    background-color: v.$color-primario;
    color: v.$color-blanco !important;
    padding: 10px 25px !important;
    font-family: v.$font-titles;
    border-radius: v.$border-radius-sm;
    text-transform: uppercase;
    font-size: v.$font-size-sm;
    font-weight: 200;
    border: none;
    cursor: pointer;
    transition: all v.$transition-normal;

    @media (min-width: v.$bp-tablet) {
        margin-left: v.$spacing-sm;
        width: 85%;
    }

    &:hover {
        color: v.$color-blanco !important;
        background-color: v.$color-acento;
        box-shadow: v.$sombra-media;
    }

    &.is-active {
        background-color: v.$color-acento;
        box-shadow: 0 4px 8px v.$color-dorado-capi;
    }
}

.btn {
    display: inline-block;
    padding: v.$spacing-sm v.$spacing-lg;
    border-radius: v.$border-radius-md;
    text-decoration: none;
    font-family: v.$font-titles;
    font-weight: 600;
    transition: all v.$transition-normal;
    cursor: pointer;

    &--primary {
        background-color: v.$color-secundario;
        color: v.$color-blanco;
        border: 2px solid v.$color-secundario;
        font-size: v.$font-size-base;

        &:hover {
            background-color: transparent;
            color: v.$color-blanco;
        }
    }

    &--outline {
        background-color: transparent;
        color: v.$color-blanco;
        border: 2px solid v.$color-blanco;

        &:hover {
            background-color: v.$color-blanco;
            color: v.$color-primario;
        }
    }
}