---
layout: base.njk
title: Our History | C.A.P.I. Samaipata
lang: en
---
<section class="nosotros-hero">
    <div class="container">
        <h1 class="nosotros-hero__title">Our History</h1>
        <p class="nosotros-hero__text">A dream that was born to transform education through art.</p>
        
    </div>
</section>