---
layout: base.njk
title: Contáctanos | C.A.P.I. Samaipata
lang: es
---
<section class="contacto-hero">
            <div class="container">
                <h1 class="contacto-hero__title">Estamos para escucharte</h1>
                <p class="contacto-hero__text">¿Tienes dudas sobre nuestros programas o quieres visitarnos? Escríbenos.
                </p>
            </div>
        </section>

        <section class="contacto-seccion">
            <div class="container contacto-seccion__wrapper">

                <div class="contacto-datos">
                    <h2 class="section-title">Información</h2>
                    <p class="contacto-datos__intro">Visítanos en nuestras instalaciones o contáctanos por estos medios:
                    </p>

                    <div class="contacto-datos__items">
                        <div class="dato-item">
                            <i class="fa-solid fa-location-dot"></i>
                            <div>
                                <h3>Ubicación</h3>
                                <p>Calle Bolívar al lado del Museo, Samaipata, Bolivia</p>
                            </div>
                        </div>
                        <div class="dato-item">
                            <i class="fa-solid fa-phone"></i>
                            <div>
                                <h3>Teléfono</h3>
                                <p>+591 7709 8153</p>
                            </div>
                        </div>
                        <div class="dato-item">
                            <i class="fa-solid fa-envelope"></i>
                            <div>
                                <h3>Correo</h3>
                                <p>contacto@capi-centro.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contacto-form">
                    <form class="form-container">
                        <div class="form-group">
                            <label for="nombre">Nombre Completo</label>
                            <input type="text" id="nombre" placeholder="Ej. Ana García" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" id="email" placeholder="ana@ejemplo.com" required>
                        </div>
                        <div class="form-group">
                            <label for="mensaje">¿En qué podemos ayudarte?</label>
                            <textarea id="mensaje" rows="5" placeholder="Cuéntanos tu consulta..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn--primary btn--full">Enviar Mensaje</button>
                    </form>
                </div>
                <div class="contacto-mapa-full">
                    <div class="contacto-datos__mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.835668921709!2d-63.87440099738526!3d-18.178403008514152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f0437d7bd0b295%3A0x575c773942302bf0!2sCAPI!5e0!3m2!1ses-419!2sbo!4v1768999805983!5m2!1ses-419!2sbo"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>